extends ../layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote La información está constituida por un grupo de datos ya supervisados y ordenados, que sirven para construir un mensaje basado en un cierto fenómeno o ente. La información permite resolver problemas y tomar decisiones, ya que su aprovechamiento racional es la base del conocimiento.
                p Por lo tanto, otra perspectiva nos indica que la información es un recurso que otorga significado o sentido a la realidad, ya que mediante códigos y conjuntos de datos, da origen a los modelos de pensamiento humano.
                p Existen diversas especies que se comunican a través de la transmisión de información para su supervivencia; la diferencia para los seres humanos radica en la capacidad que tiene el hombre para armar códigos y símbolos con significados complejos, que conforman el lenguaje común para la convivencia en sociedad.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Los especialistas afirman que existe un vínculo indisoluble entre la información, los datos, el conocimiento, el pensamiento y el lenguaje.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Ya en el siglo XX, aparecieron los medios de comunicación masivos (televisión, radio) y las herramientas digitales que derivaron en el desarrollo de Internet.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor precio
                    p La información meteorológica reúne datos sobre la temperatura, precipitaciones y datos que hagan referencia al clima de una zona. Sirve para predecir el tiempo en un lugar.